<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Die virtuelle Mittagsfrau 2018</title>
  <meta name="description" content="Die virtuelle Mittagsfrau">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <style>
      body {
        font-family: "Helvetica", Arial;
        font-size: 1.8em;
      }
  </style>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="12 columns" style="margin-top: 2%">
        <h3><a href="/">Die virtuelle Mittagsfrau</a></h3>

        <video autoPlay
            poster="/static/cache/{{ .RandomVideoIdentifier }}.jpg">
            <source src="/static/videos/dvm-{{ .RandomVideoIdentifier }}.webm" type='video/webm; codecs="vp8.0, vorbis"'>
            <source src="/static/videos/dvm-{{ .RandomVideoIdentifier }}.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
            <p>This is fallback content to display for user agents that do not support the video tag.</p>
        </video>


      </div>
    </div>
    <div class="row">
        <div class="12 columns" style="margin-top: 3%">
            <h2>Daten - Flachs</h2>

            <p>Datensatz des <a
            href="https://www.serbski-institut.de">Sorbischen Instituts Bautzen
            e.V.</a>: 100 historische Fotographien von der Flachsherstellung.
            Erweitert um historische Fotographien von Gegenden in der Ober- und
            Niederlausitz ebenfalls vom Sorbischen Institut Bautzen, die bereits
            in der <a href="http://www.deutschefotothek.de/">Fotothek</a> in der
            SLUB Dresden bereitgestellt wurden.</p>

        <h2>Idee</h2>

        <p>Folklore Sage von der Mittagsfrau, die zwischen 12 und 1 auf die Felder
        kommt und die Menschen tötet, wenn sie ihr nicht Geschichten von und
        über den Flachs erzählen.</p>

        <h2>Eine Flachsmaschine</h2>

        <p>Abgesehen von der Mittagsfrau gibt es viele Assoziationen zwischen
        Flachsen, Weben etc. und Kreativität, Schreiben. Idee: Es werden immer
        drei Fotos gleichzeitig angezeigt: eine Landschaft, ein Gerät, ein Foto,
        auf dem Menschen sind. Diese Auswahl dient als Inspiration für
        Geschichten, Texte, Gedanken, die direkt auf der Seite eingegeben werden
        alle Texte sollen ins Ober- und Niedersorbische übersetzt werden,
        Übersetzungen in andere Sprachen sind erwünscht.</p>

        <h2>Umsetzung</h2>

        <p>
            Aufbereitete Daten und Metadaten liegen unter <a
            href="https://github.com/sophiamanns/virtuelle_mittagsfrau">github.com/sophiamanns/virtuelle_mittagsfrau</a>.
            Die Fotographien wurden mit <a href="https://www.python.org/">Python</a>, <a
            href="http://www.numpy.org/">numpy</a> und <a
            href="https://imageio.github.io/">imageio</a> zu animierten
            <a href="https://www.w3.org/Graphics/GIF/spec-gif89a.txt">GIF</a>-Sequenzen zusammengeführt, und via
            <a href="https://www.ffmpeg.org/">ffmpeg</a> in <a
            href="https://www.webmproject.org/">webm</a> und <a
            href="https://en.wikipedia.org/wiki/MPEG-4_Part_14">mp4</a>
            konvertiert. Aus den möglichen 25024 Bildkombinationen wurden 2766
            als Video encodiert, die restlichen Bildgruppen werden via <a
            href="https://github.com/disintegration/imaging">imageing</a>
            on-demand erstellt. Die Webseite ist in <a
            href="https://golang.org/">Go</a>
            geschrieben und läuft auf einem <a
            href="https://www.arm.com/">ARM</a> board unter <a
            href="https://www.ubuntu.com/">Ubuntu</a>. Das SSL-Zertifikat wird von <a href="https://letsencrypt.org/">Let's Encrypt</a> zur Verfügung gestellt.
        </p>

        </div>
    </div>


    <h2>Echo</h2>

    <p>
        <a href="https://www.mdr.de/kultur/coding-davinci-apps-spiele-100.html">MDR Kultur</a>
        <a href="https://www.ub.uni-leipzig.de/aktuelles/aktuelles-einzelansicht/?tx_ttnews[tt_news]=1725&cHash=2b346fbc0d52d9ba4dcda0f618e8a0a3">UB Leipzig</a>
        <a href="https://blog.slub-dresden.de/beitrag/2018/06/21/die-voegel-zwitschern-vom-radeln-und-flachsen-preistraeger-des-coding-da-vinci-ost/">SLUB Dresden</a>
        <a href="https://kulturimweb.net/2018/06/20/newsletter-20-juni-2018/">Kultur im Web</a>
        <a href="https://www.kulturmanagement.net/Themen/Gewinner-Coding-Da-Vinci-Ost-2018-Von-Vogelstimmen-und-historischen-Radwegen,2336">Kultur Management Network</a>
        <a href="https://www.l-iz.de/melder/wortmelder/2018/06/Von-Vogelstimmen-und-historischen-Radwegen-Preistraeger-von-Coding-da-Vinci-Ost-gekuert-221743">L-IZ</a>
        <a href="https://blog.wikimedia.de/2018/06/28/zwitschernde-voegel-fallendes-obst-und-eine-virtuelle-mittagsfrau-preistraeger-von-coding-da-vinci-ost/">Wikimedia</a>
        <a href="http://mittagsfrau.de/static/hPcd3Sx.jpg">LVZ</a> (<a href="https://www.pressreader.com/germany/leipziger-volkszeitung/20180619/282432759872812">Pressreader</a>)
        <a href="https://www.serbski-institut.de/de/Aktuelles/3900/#q3900">Serbski Institut PM</a> (<a href="https://www.serbski-institut.de/os/dnl/mw_PM-Serbski-institut_Sorbisches-Institut-27062018.2317.pdf">PDF</a>, <a href="http://mittagsfrau.de/static/gratulaciju_za_myto_za_pripoldnicu.pdf">Gratulaciju</a>)
        <a href="https://twitter.com/cdvost/status/1007974955806547971">@cdvost</a> (<a href="https://twitter.com/cdvost/status/1007998028005937152">OOC</a>)
        <a href="https://twitter.com/cvvfj/status/1007940808090226688">tweet</a>
        <a href="https://medium.com/@666ruffryder/coding-da-vinci-ost-2018-f2075160f921">Blogpost <em>Coding da Vinci Ost 2018</em></a>
        <a href="https://www.uni-leipzig.de/service/kommunikation/medienredaktion/nachrichten.html?ifab_modus=detail&ifab_uid=352407221a20180717130232&ifab_id=7797">PM UL</a>
    </p>


    <h2>Hinweise zum Datenschutz</h2>

    <p>Es werden keine Cookies verwendet. Die Webseite nutzt
    TLS-Verschlüsselung. Es werden keine persönlichen Daten erhoben. Die
    IP-Adressen der Clients werden aus Sicherheitsgründen bis zu drei Monate
    vorgehalten. Diese Aufbewahrungsfrist kann überschritten werden. Es besteht
    keine Pflicht zur Bestellung eines Datenschutzbeauftragten. Es gibt keine
    Verbindungen zu sogenannten sozialen Netzwerken. Es werden keine
    Analysetools oder Trackingdienste verwendet. Es gibt keine Werbung,
    affiliate Marketing oder andere Dienste des Onlinemarketings. Diese Seite
    ist keine Wordpress-Seite und verwendet keine Wordpress-Plugins. Es gibt
    keine Zahlungsmöglichkeiten. Es werden keine weiteren externen Dienste
    eingebunden.</p>



    <div class="row">
        <div class="12 columns" style="margin-top: 3%">
            <a href="https://codingdavinci.de/events/ost/">Coding da Vinci 2018</a> &mdash; <a href="mailto:mannsorama@gmail.com">Sophia Manns-Süßbrich</a>, <a href="http://github.com/miku">Martin Czygan</a>
        </div>
    </div>
  </div>


</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
