<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>DVM CDV 2018</title>
  <meta name="description" content="Die virtuelle Mittagsfrau">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <style>
      body {
        font-family: "Helvetica", Arial;
        font-size: 1.8em;
      }
  </style>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="12 columns" style="margin-top: 2%">
        <h3><a href="/">Die virtuelle Mittagsfrau</a> &mdash; <a href="/">Flachsmaschine</a></h3>

        <video autoPlay
            poster="/static/cache/{{ .RandomVideoIdentifier }}.jpg">
            <source src="/static/videos/dvm-{{ .RandomVideoIdentifier }}.webm" type='video/webm; codecs="vp8.0, vorbis"'>
            <source src="/static/videos/dvm-{{ .RandomVideoIdentifier }}.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
            <p>This is fallback content to display for user agents that do not support the video tag.</p>
        </video>


      </div>
    </div>
    <div class="row">
        <div class="12 columns" style="margin-top: 3%">
            <h2>Daten - Flachs</h2>
        
            <p>Datensatz des <a
            href="https://www.serbski-institut.de">Sorbischen Instituts Bautzen
            e.V.</a>: 100 historische Fotographien von der Flachsherstellung.
            Erweitert um historische Fotographien von Gegenden in der Ober- und
            Niederlausitz ebenfalls vom Sorbischen Institut Bautzen, die bereits
            in der <a href="http://www.deutschefotothek.de/">Fotothek</a> in der
            SLUB Dresden bereitgestellt wurden.</p>
        
        <h2>Idee</h2> 
        
        <p>Folklore Sage von der Mittagsfrau, die zwischen 12 und 1 auf die Felder
        kommt und die Menschen tötet, wenn sie ihr nicht Geschichten von und
        über den Flachs erzählen.</p>

        <h2>Eine Flachsmaschine</h2>

        <p>Abgesehen von der Mittagsfrau gibt es viele Assoziationen zwischen
        Flachsen, Weben etc. und Kreativität, Schreiben. Idee: Es werden immer
        drei Fotos gleichzeitig angezeigt: eine Landschaft, ein Gerät, ein Foto,
        auf dem Menschen sind. Diese Auswahl dient als Inspiration für
        Geschichten, Texte, Gedanken, die direkt auf der Seite eingegeben werden
        alle Texte sollen ins Ober- und Niedersorbische übersetzt werden,
        Übersetzungen in andere Sprachen sind erwünscht.</p>

        <h2>Umsetzung</h2>

        <p>
            Aufbereitete Daten und Metadaten liegen unter <a
            href="https://github.com/sophiamanns/virtuelle_mittagsfrau">github.com/sophiamanns/virtuelle_mittagsfrau</a>.
            Die Fotographien wurden mit <a
            href="http://www.numpy.org/">numpy</a> und <a
            href="https://imageio.github.io/">imageio</a> zu animierten
            <a href="https://www.w3.org/Graphics/GIF/spec-gif89a.txt">GIF</a>-Sequenzen zusammengeführt, und via
            <a href="https://www.ffmpeg.org/">ffmpeg</a> in <a
            href="https://www.webmproject.org/">webm</a> und <a
            href="https://en.wikipedia.org/wiki/MPEG-4_Part_14">mp4</a>
            konvertiert. Aus den möglichen 25024 Bildkombinationen wurden 2766
            als Video encodiert, die restlichen Bildgruppen werden via <a
            href="https://github.com/disintegration/imaging">imageing</a>
            on-demand erstellt. Die Webseite ist in <a
            href="https://golang.org/">Go</a>
            geschrieben und läuft auf einem <a
            href="https://www.arm.com/">ARM</a> board unter <a
            href="https://www.ubuntu.com/">Ubuntu</a>.
        </p>

        </div>
    </div>


    <div class="row">
        <div class="12 columns" style="margin-top: 3%">
          <a href="https://codingdavinci.de/events/ost/">Coding da Vinci 2018</a> &mdash; Sophia Manns-Süßbrich, <a href="http://github.com/miku">Martin Czygan</a>
        </div>
    </div>
  </div>

  
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
