<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>DVM CDV 2018</title>
  <meta name="description" content="Die virtuelle Mittagsfrau">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <style>
      body {
        font-family: "Helvetica", Arial;
        font-size: 1.8em;
      }
  </style>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="12 columns" style="margin-top: 2%">
        <h3><a href="/">Die virtuelle Mittagsfrau</a> &mdash; <a href="/">Flachsmaschine</a></h3>

        <video autoPlay
            poster="/static/cache/{{ .RandomVideoIdentifier }}.jpg">
            <source src="/static/videos/dvm-{{ .RandomVideoIdentifier }}.webm" type='video/webm; codecs="vp8.0, vorbis"'>
            <source src="/static/videos/dvm-{{ .RandomVideoIdentifier }}.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
            <p>This is fallback content to display for user agents that do not support the video tag.</p>
        </video>


      </div>
    </div>
    <div class="row">
        <div class="12 columns" style="margin-top: 3%">
        <p>Beginne eine <a href="/w/{{ .RandomVideoIdentifier }}">Geschichte mit diesen drei Bildern</a> 
          | <a href="/">NEU!</a> &mdash;
            <a href="/w/{{ .RandomIdentifier }}">oder etwas anderem</a> ...</p>
        <p><a href="/r/{{ .RandomIdentifier }}">Lies eine zufällige Geschichte</a> oder <a href="/translate">versuche dich an einer Übersetzung</a>.</p>
        <hr>
        {{range .Stories}}
          <a href="/r/{{ .ImageIdentifier }}">{{ .ImageIdentifier }}</a> {{ .Text | clip }} &mdash; {{ .Created | ago }}<br>
        {{end}}
        </div>
    </div>


    <div class="row">
        <div class="12 columns" style="margin-top: 3%">
          Für <a href="https://codingdavinci.de/events/ost/">Coding da Vinci 2018</a> &mdash;
          <a href="/about">Über dieses Projekt</a> &mdash;
          Von Sophia Manns-Süßbrich, <a href="http://github.com/miku">Martin Czygan</a>
        </div>
    </div>
  </div>

  
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
